.hero-text {
  font-size: 12rem;
  margin-top: 3rem;
  font-weight: 600;
}
.slogan {
    
    background: -webkit-linear-gradient(180deg, rgb(177, 5, 245),rgb(6, 189, 113), rgb(10, 113, 231));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* .headerImage {
  width: 500px;
} */
.stage {
  height: 100px;
  width: 100%;
}
.box {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  height: 50px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 200px;
  border-radius: 5px;
}
.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}
@keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}